
@font-face {
    font-family: 'Badhon Lipi';
    src: url('../assets/fonts/banglafont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the font globally */
  * {
    font-family: 'Badhon Lipi';
    margin: 0;
    padding: 0;
  }
  